.ICEauthority
.Xauthority
.adobe/Flash_Player/AssetCache
.aptitude/cache
.bash_history*
.cache
.compiz/session/
.config/awn
.config/compiz
.config/user-dirs.dirs
.config/user-dirs.locale
.cups
.dbus
.electricsheep/*.avi
.electricsheep/lock
.electricsheep/play_counts
.esd_auth
.fetchmail.pid
files/
.fontconfig
.gconf/apps/compiz/
.gconf/apps/gnome-terminal/
.gconf/desktop/
.gconfd/saved_state
.gitconfig
.gnome2/accels
.gnome2/yelp
.gnuplot_history
.gstreamer-0.10/
.gtklp
.gurlchecker/cache
.gurlchecker/projects
.hplip
.lesshst
.lftp/
.links2/
.lyrics
.mpdcron/mpdcron.pid
.ncmpcpp/error.log
.pcolor
.pulse/
.pulse-cookie
.purple
.specto/cache
.specto/specto.log
.specto/specto.pid
src/
.ssh/agent*
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts.old
.subversion/README.txt
.subversion/servers
.thumbnails
var/cache/
var/lib/
var/log/mpd.log
.vim/.netrwhist
.viminfo
.w3m/cookie
.w3m/history
.wireshark
.wpa_cli_history
.xsession-errors
.xsession-errors.old
