Downloads/
.ICEauthority
Mail/
.PhotoFilmStrip
Pictures/
.Skype/
.TinyCA/
.Xauthority
.AbiSuite/
.abook/
.adobe/Flash_Player/AssetCache
.alexandria/
.aqbanking/
.aptitude/cache
.avidemux/
.audacity-data/
.bash_history*
.bitcoin/
.bundle/
.bzr.log
.cache
.calibre/
.camel_certs/
.cgobanrc
.compiz/images
.compiz/session/
.conda/
.config/Doxygen.org/
.config/Flavio Tordini/
.config/Last.fm/
.config/MusicBrainz/
.config/Nokia/
.config/RawTherapee/
.config/SourceForge/
.config/VideoCut/
.config/awn/
.config/brasero/
.config/calibre/
.config/chromium/
.config/compiz*/
.config/conduit/
.config/dconf/
.config/enchant/
.config/evolution/
.config/f-spot/
.config/font-manager/
.config/fontgroups.xml
.config/frogr
.config/gaupol/
.config/glade-3.conf
.config/gmpc/
.config/gnome-color-manager/
.config/google-chrome/
.config/google-googletalkplugin/
.config/gthumb/
.config/gtk-2.0/
.config/gwibber/
.config/homebank/
.config/htop/
.config/indicators/
.config/inkscape/
.config/Kitware/
.config/last-exit/
.config/menus/
.config/monitors.xml
.config/nautilus-actions/
.config/ovito/
.config/oxygen-gtk/
.config/pithos.ini
.config/pitivi/
.config/postler/
.config/pulse/
.config/qtcurve/
.config/smplayer/
.config/spek/
.config/Screenlets/
.config/Trolltech.conf
.config/tomboy/
.config/totem/
.config/user-dirs.locale
.config/user-share/
.config/veusz.org/
.config/vlc/
.config/wpa_supplicant/
.covers/
.credentials
.cups
.dbus
.ddccontrol/
.debug/
.dia
.dmrc
.docker
.dvdcss/CACHEDIR.TAG
.eclipse
.electricsheep/*.avi
.electricsheep/lock
.electricsheep/play_counts
.emerald/theme/theme.ini.bak
.eresi_history
.esd_auth
.fantasdic/
.fbcmd/sessionkeys.txt
.fetchmail.pid
files/
.flickr/
.fltk/
.fonts.conf
.fontconfig
.fotoxx/
.gconf/
.gconf.path
.gconfd/saved_state
.gdesklets/
.gegl-0.0/
.ghidra
.gimp-2.6/
.gitconfig
.gksu.lock
.gmerlin/
.gnash/
.gnome2/
.gnome2_private/
.gnomint/
.gnucash/
.gnupg/gpg-agent*
.gnupg/private-keys-v1.d/
.gnupg/pubring.gpg~
.gnupg/random_seed
.gnupg/secring*
.gnuplot_history
.goldendict/config
.goldendict/history
.goldendict/index/
.google/
.gpg-agent-info
.gphpedit/
.gphoto/
.gradle
.granule
.grsync/
.gstreamer-0.10/
.gtk-bookmarks
.gtklp
.gtk-recordmydesktop
.gurlchecker/cache
.gurlchecker/projects
.gwhere/
.hplip
.hugin
.icedove
.icons
.java
.jmol
.jnewsrc-lock
.jnewsrc.time
.kde
.kismet
.kodi
.lesshst
.lftp/
libexec/
.libquicktime_codecs
.libreoffice/
.links/
.links2/
.lives
.lives-dir/
.local/*
.lyrics
.macromedia
.massxpert
.miro/
.mono/
.mozilla/
.mpdcron/mpdcron.pid
.mpdscribble/mpdscribble.conf
.mplayer/gui*
.mutt_certificates
.mysql_history
.ncmpcpp/error.log
.nemiver/
.nv/
.nvidia-settings-rc
.ocrfeeder
.openme
.openshot
.p4config
.p4ob/
.p4qt/
.p4tickets
.packagesearch
.pcolor
.phoronix-test-suite
.pki
.printer-groups.xml
.pulse/
.pulse-cookie
.purple/
.pyNeighborhood/
.pyrit/
.python_history
.recently-used
.rnd
.sane/
.secret/
.shutter/
.specto/cache
.specto/specto.log
.specto/specto.pid
src/
.ssh/agent*
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/identity.pub
.ssh/known_hosts.old
.ssh/known_hosts
.starplotrc
.stellarium/log.txt
.stellarium/stars/
.subversion/README.txt
.subversion/servers
.sup/
.synaptic/
.thumbnails
tmp/*
.tvtime
var/cache/
var/lib/
var/log/mpd.log
.vim/.netrwhist
.vim/undo
.viminfo
.w3m/cookie
.w3m/history
.webex
.wget-hsts
.wine/
.winff/
.wireshark
.wpa_cli_history
.wxglade/
.xbmc/
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xscreensaver
.xsession-errors
.xsession-errors.old
.Heaven
.Superposition
.MakeMKV/screen.conf
.MakeMKV/update.conf
var
Videos
Webcam
