encryption = allow_incoming,try_outgoing,enable_retry
encoding_list = UTF-8
check_hash = yes
download_rate=8192
upload_rate=8192
directory = ~/var/lib/rtorrent
session = ~/var/lib/rtorrent
max_uploads_global=0
max_downloads_global=0
port_range = 6901-6901
#stop_on_ratio=2
#max_memory_usage=134217728
#d.max_file_size=-1
dht=auto

log.open_file = "rtorrent", ~/var/log/rtorrent.log
log.add_output = "info", "rtorrent"
log.add_output = "critical", "rtorrent"
log.add_output = "error", "rtorrent"
log.add_output = "warn", "rtorrent"
log.add_output = "notice", "rtorrent"
log.add_output = "debug", "rtorrent"
