view_sort=name
view_sort_current=main,name
check_hash = yes
encryption = allow_incoming,try_outgoing,enable_retry
download_rate=2048
upload_rate=768
directory = ~/var/lib/rtorrent
session = ~/var/lib/rtorrent
max_uploads_global=0
max_downloads_global=0
#session_lock = yes
port_range = 6901-6901
#stop_on_ratio=2
#max_memory_usage=134217728
