URxvt*faceNameDoublesize: WenQuanYi WenQuanYi Bitmap Song
URxvt*faceName: Hack
URxvt*faceSize: 12
URxvt*renderFont: true
URxvt*termName: rxvt-256color
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*background: white
URxvt*foreground: black

!xterm*background: black
!xterm*foreground: lightgray
!XTerm*modifyOtherKeys: 1
XTerm*background: gray20
XTerm*foreground: white
XTerm*faceNameDoublesize: WenQuanYi WenQuanYi Bitmap Song
XTerm*faceName: Hack
XTerm*faceSize: 12
XTerm*renderFont: true
!xterm*font: *-fixed-*-*-*-18-*
xterm*directColor: true
XTerm*decGraphicsID: 340
XTerm*decTerminalID: 420
XTerm*numColorRegisters: 256
XTerm*sixelScrolling: true
! the height here ought be evenly divisible by six
XTerm*maxGraphicSize: 1980x1440
!XTerm*maxGraphicSize: 800x460
XTerm*utf8: 1
XTerm*utf8Title: true
XTerm*eightBitInput: false
XTerm*allowWindowOps: False
XTerm*disallowedWindowOps: 1,2,3,4,5,6,7,8,9,11,13,18,19,20,21,GetSelection,SetSelection,SetWinLines,SetXprop
