[Match]
Name=ixgbe1

[Address]
Address=192.168.89.9/30

[Link]
RequiredForOnline=no

[Network]
ConfigureWithoutCarrier=yes
LinkLocalAddressing=no                                                                                                              
LLDP=true
